<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>

    {% if message %}
        <p>{{ message }}</p>
    {% endif %}

    <form action="" method="post">
        <p>
	    <label for="param1">Количество отвердителя, м.%</label>
	    <input type="text" name="param1">
	</p>
	<p>
	    <label for="param2">Содержание эпоксидных групп,%_2</label>
	    <input type="text" name="param2">
	</p>
	<p>
	    <label for="param3">Температура вспышки, С_2</label>
	    <input type="text" name="param3">
	</p>
<p>
	    <label for="param4">Потребление смолы, г/м2</label>
	    <input type="text" name="param4">
	</p>
<p>
	    <label for="param5">Угол нашивки, град</label>
	    <input type="text" name="param5">
	</p>
<p>
	    <label for="param6">Шаг нашивки</label>
	    <input type="text" name="param6">
	</p>
<p>
	    <label for="param7">Плотность нашивки</label>
	    <input type="text" name="param7">
	</p>

	<p>
	    <input type="submit">
	</p>
    </form>

</body>
</html>